# Deep Learning
torch==2.10.0
monai==1.5.2

# Neuroimaging
nibabel==5.3.3
nilearn==0.13.1

# Scientific Computing
numpy==2.4.2
scipy==1.17.0

# Backend API
fastapi
uvicorn==0.40.0
pydantic
requests

# Graph Database
neo4j
